<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="satellite">
  <link name="satellite">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="100" />
      <inertia ixx="416" ixy="0" ixz="0" iyy="529" iyz="0" izz="529" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/satellite/satellite.STL" />
      </geometry>
      <material name="Iron">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/satellite/satellite.STL" />
      </geometry>
    </collision>
  </link>
</robot>